<h3>Add New Player</h3>
<div>
  <div class="form-group">
    <label>Name:</label>
    <br>
    <input class="form-control" #newName>
  </div>

  <div class="form-group">
    <label>Position:</label>
    <br>
    <input class="form-control" #newPosition>
  </div>

  <div class="form-group">
    <label>Age:</label>
    <br>
    <input class="form-control" #newAge>
  </div>

  <div class="form-group">
    <label>Phone:</label>
    <br>
    <input class="form-control" #newPhone>
  </div>

  <div class="form-group">
    <label>Notes:</label>
    <br>
    <textarea class="form-control" #newNotes></textarea>
  </div>

  <button (click)="submitForm(newName.value, newPosition.value, newAge.value, newPhone.value, newNotes.value)">Add</button>

</div>

<app-team></app-team>
