<h3>Edit Player</h3>
<div>
  <div class="form-group">
    <label>Name:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.name">
  </div>

  <div class="form-group">
    <label>Position:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.position">
  </div>

  <div class="form-group">
    <label>Age:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.age">
  </div>

  <div class="form-group">
    <label>Phone:</label>
    <br>
    <input class="form-control" [(ngModel)]="selectedPlayer.phone">
  </div>

  <div class="form-group">
    <label>Notes:</label>
    <br>
    <textarea class="form-control" [(ngModel)]="selectedPlayer.notes"></textarea>
  </div>

  <button (click)="beginUpdatingPlayer(selectedPlayer)">Update</button>
  <br>
  <button (click)="beginDeletingPlayer(selectedPlayer)">Delete</button>
